<footer class="py-5 bg-dark" >
    <div class="footer-container">
        <div class="navigation">
            
        </div>
        <p class="m-0 text-center text-white">Copyright © Martin Malamov</p>
    </div>
    <!-- /.container -->
    <div></div>
</footer>