<footer class="py-2 bg-dark">
    <!-- /.container -->
    <div class="footer-container">
        <div class="centerItems">
            <p class="m-0 text-center text-white">Copyright  © reserved by Martin Malamov</p>
        </div>
        <div class="social centerItems">
            <p class="m-0 text-center text-white" id="sizeOfFooterIcons">
                <a href="#" ><i class="fab fa-facebook"></i></a>
                <a href="https://github.com/martinmalamov" target="_blank" id="github"><i class="fab fa-github"></i></a>
            </p>
        </div>
        <div class="footerTerms centerItems">
            <p class="m-0 text-center text-white"><a href="#"><b>Terms and conditions
                        Privacy</b>
                </a></p>
        </div>
    </div>
    <div></div>
</footer>