{{!-- <section class="py-5 bg-image-full"
    style="background-image: url('https://svejo.net/system/stories-photos/002/156/470/rent-a-car-sofiya-koli-pod-naem-rent-a-car-rent-a-kar-l.jpg?1441367052'); background-repeat: no-repeat;">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="min-width: 100vw;
   width: 100%;
   height: 10vh;"></div>
</section> --}}
<div style="width: 100%;margin-top:56px;">
    <img src="https://suncityrentvarna.com/wp-content/uploads/2019/07/banner2.jpg"
    style="width: 100%; height:65vh;">
</div>
<section class="py-5">
    <div class="container">
        <h1>Rent-Car</h1>
        <div>
            <p class="lead" style="font-size: 24px; font-style: italic;">"TRAVEL IS THE ONLY THING WE BUY THAT MAKES US RICHER."
            </p>
        </div>
    </div>
</section>